header{
    height:100px;
    background:	#9ACD32;
}

div{
    text-align:center;
}

tb{
     text-align:center
}

form{
    text-align:center;
    font-size: 30px;
    background:	#E6E6FA;
}

ol{
    text-align:center
}

nav{
    border-radius: 10px;
    background:#E6E6FA;
    padding:10px 20px 10px 20px;
}

h1{
    text-align:center;
}

h2{
    text-align:center;
}

footer {
    border-radius: 10px;
    height: 70px;
    background: url(https://www.thonky.com/legend-of-zelda/zelda-map.png);
}

.gr{
    background-color:chartreuse;
}
.yl{
    background-color:darkgoldenrod;
}

