footer {
    border-radius: 10px;
    height: 70px;
    background: url(https://www.thonky.com/legend-of-zelda/zelda-map.png);
}

.gr{
    background-color:chartreuse;
}
.yl{
    background-color:darkgoldenrod;
}

