footer {
    border-radius: 10px; 
    border-width: 3px; 
    border-style: outset; 
    border-color: #3CB371;
    height:40px;
}

header {
    border-radius: 10px;
    border-width: 3px;
    border-style: outset;
    border-color: #3CB371;
    height: 40px;
}
